
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Sigmar&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');


.banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 5px 20%;
  }


a{
    text-decoration: none;
    color: black;
}



body{

    background: #fff;
    margin: 50px 30px 50px 30px;
}

.body-cintos {

    background: #fff;
    margin: 50px 30px 50px 30px;

}

.img-cintos {

    

        width: 300px;
        height: 300px;
        align: left;

   
}


.menunavegacao{
    
    width: 80%;
    margin: auto;
}

    

.titulo-pagina{

    text-align: center;
    
    
    
}

.subtitulo-pagina{

    text-align: center; 
    margin: 5px;
    
}


.titulo-artigo {

    text-align: center;
    
    
}


.subtitulo-artigo {

    text-align: center;
}



.ul-home {
    background: #fff;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}


.li-home{
    font-family: 'Roboto Slab', serif;;
    background: rgb(219, 186, 136);
    background-attachment: fixed;
    padding: 20px;
}


.container-titulo-categorias {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration-style: 'Libre Baskerville', serif; size: 70px;
    


    /*indiferente*/
    
    padding: 16px;
    height: 5px;
}

.container-img-categorias {



    display: flex;
    flex-direction: row;
    justify-content: space-around;
    


    /*indiferente*/
    
    padding: 16px;
    height: 500px;

}


.img-categorias {

    width: 500px;
    height: 500px;
    border: 5px solid black;
    
}


.ul-prazo-dois {

    display: inline;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration-style: 'Libre Baskerville', serif;
    list-style: none;
    
    
    


    /*indiferente*/
    
    padding: 5px;
    height: 5px;
}


.img-prazo {

    width: 70px;
    height: 50px;
    align-items: center;
   
}

.li-prazo {

    margin: 0px 0px 30px 0px;
    font-size: larger;
}


