
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Sigmar&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');




.menunavegacao{
    
    width: 80%;
    margin: auto;
}

    

.titulo-pagina{

    text-align: center;
    
    
}

.titulo-artigo {

    text-align: center;
    
    
}

.subtitulo-pagina{

    text-align: center; 
    margin: 5px;
    
}

.subtitulo-artigo {

    text-align: center;
}

.ul-home {
    background: #fff;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}


.li-home{
    font-family: 'Roboto Slab', serif;;
    background: rgb(219, 186, 136);
    background-attachment: fixed;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
}



body{

    background: #fff;
    margin: 50px 30px 50px 30px;
}


.container-justify-space-around {



    display: flex;
    flex-direction: row;
    justify-content: space-around;
    


    /*indiferente*/
    
    padding: 16px;
    height: 500px;

}

.container-titulo-categorias {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration-style: 'Libre Baskerville', serif; size: 70px;
    


    /*indiferente*/
    
    padding: 16px;
    height: 5px;
}

.ul-prazo {

    display: inline;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration-style: 'Libre Baskerville', serif;
    margin-left: 20px;
    margin-right: 25px;
    list-style: none;
    align-items: center;
    
    


    /*indiferente*/
    
    padding: 5px;
    height: 5px;
}

.ul-prazo-dois {

    display: inline;
    flex-direction: row;
    justify-content: space-around;
    text-decoration-style: 'Libre Baskerville', serif;
    list-style: none;
    align-items: center;
    
    


    /*indiferente*/
    
    padding: 5px;
    height: 5px;
}

.texto-prazo {

    font-size: large ;
    align-items: center;
    font-size: larger;
    margin-left: 135px;
    
    
}

.img-prazo {

    width: 50px;
    height: 50px;
    align-items: center;
}

.img-categorias {

    width: 500px;
    height: 500px;
    
}

.p-titulo :hover {

    font-family: 'Nanum Myeongjo', serif;
    background: #DEB887;

}

.rodape {

    background: #000;
    font-family: 'Nanum Myeongjo', serif; color: #fff;

}

.ul.prazo {

    display: inline;
}